@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* common_header */
header {
  max-width: 1920px;
  width: 100%;
  height: 600px;
  background-image: url("../img/header.png.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  background-size: cover;
  padding: 37px 0px 30px 0px;
  position: relative;
  overflow: hidden;
}
.menu_header a:hover {
  background-color: #dcdcdc;
}
.logo_header {
  position: absolute;
  left: min(100px, 5%);
  width: 104px;
  height: 41px;
  position: absolute;
  left: min(100px, 5%);
}
.content_header {
  max-width: 823px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.menu_header {
  display: flex;
  border-bottom: 1px solid #ffffff;
  width: 100%;
}
.content_p {
  padding: 6px 16px;
  text-decoration: none;
}
.title_header {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  margin-top: 32px;
}
.search_header {
  display: flex;
  max-width: 770px;
  width: 100%;
  border-radius: 112px;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  align-items: center;
  margin-top: 32px auto;
  height: 76px;
  padding: 6px 6px 6px 0;
}
.location_header {
  max-width: 233px;
  width: 100%;
  text-align: left;
}
.checkin_header {
  max-width: 231px;
  width: 100%;
  text-align: left;
}
.white_p {
  color: #484848;
}
.checkout_header {
  max-width: 234px;
  width: 100%;
  text-align: left;
}
.search_btn_header {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  background: #e71346;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.search_btn_header:hover {
  background: #003092;
  cursor: pointer;
}
.give_header {
  position: absolute;
  max-width: 176px;
  right: -133px;
  top: 245px;
  background: linear-gradient(111.91deg, #008489 21.93%, #3adbe1 100%);
  border-width: 2px 0 2px 2px;
  border-style: solid;
  border-color: #ffffff;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  display: flex;
  padding: 8px 6px 10px 8px;
  align-items: center;
  transition: 0.75s ease;
}

.give_header:hover {
  right: 0px;
}
.dola_text {
  color: #fff;
}
.dola_img {
  margin-right: 8px;
}
.rate_header {
  position: absolute;
  bottom: 30px;
  right: 80px;
  display: flex;
  gap: 20px;
}
.ch_play {
  display: flex;
  width: 100%;
  max-width: 187px;
  border-right: 1px solid #ffffff;
  align-items: center;
  height: 52px;
}
.Evaluate_play {
  margin-left: 17px;
  margin-right: 26px;
  margin-top: 24px;
}
.star_img {
  display: flex;
  gap: 6px;
}
.google {
  line-height: 30px;
  color: #fff;
  margin-top: 5px;
}
.ap_store {
  display: flex;
  width: 100%;
  max-width: 160px;
  align-items: center;
  height: 52px;
}
.star_img {
  display: flex;
  gap: 6px;
}
.google {
  line-height: 30px;
  color: #fff;
  margin-top: 5px;
  width: 110px;
  height: 43px;
}
/* common_foodter */
footer {
  background: #1f1f1f;
  width: 100%;
  max-width: 1920px;
  text-align: center;
  padding: 60px 20px 40px;
}
.footer_container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto 68px;
  display: flex;
}
.footer_container_airport {
  max-width: 156px;
  margin-right: 60px;
  text-align: left;
}
.footer_container_insurance {
  width: 184px;
  margin-right: 32px;
  text-align: left;
}
.footer_container-city {
  width: 146px;
  margin-right: 70px;
  text-align: left;
}
.social_footer {
  display: flex;
  width: 100%;
  max-width: 146px;
  justify-content: space-between;
  margin-top: 24px;
}
.blog_p {
  margin-top: 21px;
}
.footer_container_car {
  width: 156px;
  margin-right: 60px;
  text-align: left;
}
.footer_container_station {
  width: 175px;
  text-align: left;
}
.chplay_img {
  margin-top: 20px;
  width: 138px;
  height: 43px;
}
.appole_img {
  margin-top: 16px;
  width: 138px;
  height: 43px;
}

hr {
  margin: 20px 0;
}

/* Common popular on way */
.common_popular_on_way {
  max-width: 150px;
  height: 200px;
  width: 100%;
  border-radius: 25px;
  background: #fcfcfc;
  text-align: center;
}

.common_popular_on_way p {
  margin-top: 23px;
  color: #000;
}

/* Common carry */
.common_carry {
  max-width: 220px;
  width: 100%;
  height: 190px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 0px 28px 0px #0000000d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* Common top city */
.common_top_city {
  max-width: 196px;
  width: 100%;
  border-radius: 25px;
  box-shadow: 0px 24px 34px 0px rgba(0, 0, 0, 0.08);
  background-color: #fcfcfc;
  text-align: center;
}

.common_top_city p {
  color: #535a53;
  padding: 30px 0 10px;
}

/* Common come on board */
.common_come_onboard {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

.common_come_onboard .come {
  background-image: url(../img/common_onboard.png);
  background-size: 100% 100%;
  background-position: center;
  padding: 48px 84px 50px 0;
  display: flex;
  justify-content: flex-end;
}

.common_come_onboard .come .content_wrap {
  width: 100%;
  max-width: 354px;
}

.common_come_onboard .come .title {
  font-size: 28px;
  font-family: Inter;
  font-weight: 500;
  color: #fff;
  line-height: 34px;
}

.common_come_onboard .come .us {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}

.common_come_onboard .come .started {
  max-width: 170px;
  width: 100%;
  background-color: #008489;
  display: flex;
  justify-content: center;
  padding: 13px 41px;
  border-radius: 4px;
}

/* Commonn partner */
.common_partners {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.common_partners .icon_partner {
  width: 100%;
  display: flex;
  align-items: center;
  height: 134px;
  margin-top: 33px;
  justify-content: space-between;
}

.common_partners .icon_partner .arrow_left {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #dcdcdc;
}
.icon_partner .arrow_left img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.common_partners .icon_partner .arrow_right {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #dcdcdc;
}

.icon_partner .arrow_right img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.common_partners .icon_partner .icon {
  max-width: 1080px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  height: 134px;
  align-items: center;
  gap: 70px;
}

.common_partners .dots {
  margin-top: 31px;
}

.common_parking {
  max-width: 224px;
  width: 100%;
  height: 184px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 28px 0px #0000000d;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  justify-content: space-between;
  align-items: center;
}

/* common_earth */
.common_earth {
  background-color: #f2f2f2;
  padding: 95px 0 134px 0;
  max-width: 1920px;
  width: 100%;
}
.earth {
  max-width: 1144px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.earth_text {
  color: #818181;
  margin-top: 12px;
}
.common_earth .earth img {
  max-width: 900px;
  width: 100%;
  margin-top: 20px;
}

/* common_car */
.common_car {
  max-width: 540px;
  height: clamp(120px, 25.18vw, 136px);
  display: flex;
  border-bottom: 1px solid #dcdcdc;
}
.car_img {
  margin-right: 44px;
  align-self: center;
}
.car_text {
  padding-top: 40px;
}

/* common_referring */
.common_referring {
  max-width: 1080px;
  display: flex;
  margin: 0 auto;
  width: 100%;
}
.friendy {
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  padding: 18px 25px 18px 18px;
  background-color: #ecf3f4;
  max-width: 591px;
  width: 54.72%;
}
.friendy > p:nth-child(2) {
  margin-top: 10px;
}
.invite {
  max-width: 148px;
  width: 100%;
  height: 50px;
  margin-top: 42px;
  border-radius: 4px;
  background-color: #008489;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invite p {
  color: #fff;
}
.common_referring > img {
  max-width: 489px;
  width: 45.28%;
  aspect-ratio: 489 / 220;
}

/* common_interesting */
.common_interesting {
  width: 100%;
  max-width: 255px;
  box-shadow: 0px 0px 28px 0px #0000000d inset;
}
.interesting_img {
  width: 100%;
  aspect-ratio: 255 /156;
}
.interesting_content {
  padding: 20px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 14px;
}
.task_new {
  display: flex;
  align-items: center;
}
.infor_context {
  height: 23px;
  background: #f2f2f2;
  padding: 2px 5px 3px;
  border-radius: 24px;
}
.task_new > p {
  margin-right: 3px;
  color: #008489;
}

/* common_popular_city */
.common_popular_city {
  background-image: url("../img/chicago_parking.png");
  height: 196px;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  padding-top: 29px;
  max-width: 196px;
  background-repeat: no-repeat;
}

@media (max-width: 800px) {
  .footer_container_airport p:nth-child(n + 6):nth-child(-n + 18),
  .footer_container_insurance p:nth-child(n + 6):nth-child(-n + 16),
  .footer_container-city p:nth-child(n + 4):nth-child(-n + 15),
  .footer_container_car p:nth-child(n + 6):nth-child(-n + 17),
  .footer_container_station p:nth-child(n + 7):nth-child(-n + 14),
  .footer_container_station img {
    display: none;
  }
  .footer_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
  }
}
@media (max-width: 419px) {
  .footer_container {
    padding-left: 40px;
  }
}
