@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yellowtail&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bl_header {
  border-left: 1px solid #dcdcdc;
}

.fs_12_mon {
  font-size: 12px;
  font-weight: 400;
  font-family: Montserrat;
  line-height: 17px;
  color: white;
}
.fs_18_in{
  font-size: 18px;
  font-weight:400;
  font-family:'Inter', sans-serif;

}
.fs_16_mon {
  font-size: 16px;
  font-weight: 400;
  font-family: Montserrat;
  line-height: 23px;
}

.fs_14_mon {
  font-size: 14px;
  font-weight: 400;
  font-family: Montserrat;
  line-height: 20px;
}

.fs_14_in {
  font-size: 14px;
  font-weight: 400;
  font-family: Inter;
  line-height: 20px;
}

.fs_12_in {
  font-size: 12px;
  font-weight: 400;
  font-family: Inter;
  line-height: 17px;
}

.fs_37_mon {
  font-size: 37px;
  font-weight: 500;
  font-family: Montserrat;
  line-height: 44px;
}

.fs_30_mon {
  font-size: 30px;
  font-weight: 500;
  font-family: Montserrat;
  line-height: 36px;
}

.fs_16_in {
  font-size: 16px;
  font-weight: 400;
  font-family: Inter;
  line-height: 24px;
  color: white;
}

.fs_18_mon {
  font-size: 18px;
  font-weight: 400;
  font-family: Montserrat;
  line-height: 26px;
  color: #fff;
}
.fs_40_mon{
  font-size: 40px;
  font-family:'Montserrat', sans-serif;
  font-weight:500;

}
.fs_20_mon{
  font-weight:500;
  font-family:'Montserrat', sans-serif;
  font-size: 20px;
}
.fs_24_mon{
  font-weight:400;
  font-family:'Montserrat', sans-serif;
  font-size: 20px;
}
.mt_32 {
  margin-top: 32px;
}

.pl_28 {
  padding-left: 28px;
}

.mt_8 {
  margin-top: 8px;
}

.mt_17 {
  margin-top: 17px;
}

.mt_38 {
  margin-top: 38px;
}
.mt_28 {
  margin-top: 28px;
}
.mt_80 {
  margin-top: 80px;
}

.mt_25 {
  margin-top: 25px;
}

.pr_14 {
  padding-right: 14px;
}

.mt_16 {
  margin-top: 16px;
}

.pr_19 {
  padding-right: 19px;
}

.pr_17 {
  padding-right: 17px;
}

.pr_34 {
  padding-right: 34px;
}

.pr_24 {
  padding-right: 24px;
}

.pr_28 {
  padding-right: 28px;
}

.pr_20 {
  padding-right: 20px;
}

.pr_21 {
  padding-right: 21px;
}

.pr_36 {
  padding-right: 36px;
}
.none {
  display: none;
}
@media (max-width: 800px) {
  .none {
    display: block;
  }
}

@media (max-width: 800px) {
  .none{
    display: block;
  }
}